.tooltip-top::before {
    left: 50%;
    top: 100%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: rgba(45, 55, 72, 1);
    border-width: 0.75rem;
    margin-left: -0.75rem;
}

.tooltip-bottom::before {
    left: 50%;
    bottom: 100%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(45, 55, 72, 1);
    border-width: 0.75rem;
    margin-left: -0.75rem;
}

.tooltip-left::before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: rgba(45, 55, 72, 1);
    border-width: 0.75rem;
    margin-top: -0.75rem;
}

.tooltip-right::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(45, 55, 72, 1);
    border-width: 0.75rem;
    margin-top: -0.75rem;
}