.tooltip-right::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #000000;
    border-width: 15px;
    margin-top: -15px;
  }